extensions:
    tracy: Tracy\Bridges\Nette\TracyExtension(%debugMode%, %consoleMode%)
    codeception.http: Contributte\Codeception\DI\HttpExtension
    arachne.serviceCollections: Arachne\ServiceCollections\DI\ServiceCollectionsExtension
    arachne.csrf: Arachne\Csrf\DI\CsrfExtension
    arachne.forms: Arachne\Forms\DI\FormsExtension
    arachne.propertyAccess: Arachne\PropertyAccess\DI\PropertyAccessExtension
    arachne.twig: Arachne\Twig\DI\TwigExtension(%tempDir%/cache/twig, %debugMode%)
    nette.application: Nette\Bridges\ApplicationDI\ApplicationExtension(%debugMode%, null, %tempDir%)
    nette.cache: Nette\Bridges\CacheDI\CacheExtension(%tempDir%)
    nette.http: Nette\Bridges\HttpDI\HttpExtension
    nette.latte: Nette\Bridges\ApplicationDI\LatteExtension(%tempDir%/cache/latte, %debugMode%)
    nette.session: Nette\Bridges\HttpDI\SessionExtension(%debugMode%)
    kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
    kdyby.translation: Kdyby\Translation\DI\TranslationExtension
    kdyby.validator: Kdyby\Validator\DI\ValidatorExtension

kdyby.annotations:
    cache: array
    ignore:
        - inject

kdyby.validator:
    cache: array

nette.application:
    catchExceptions: true
    mapping:
        *: Tests\Functional\Fixtures\*Presenter

services:
    routerFactory: Tests\Functional\Fixtures\RouterFactory
    router: @routerFactory::create()
