extensions:
    arachne.codeception: Arachne\Codeception\DI\CodeceptionExtension
    enumag.application: Enumag\Application\DI\ApplicationExtension
    arachne.dihelpers.iteratorresolvers: Arachne\DIHelpers\DI\IteratorResolversExtension
    arachne.dihelpers.iterators: Arachne\DIHelpers\DI\IteratorsExtension
    arachne.dihelpers.resolvers: Arachne\DIHelpers\DI\ResolversExtension
    arachne.csrf: Arachne\Csrf\DI\CsrfExtension
    arachne.forms: Arachne\Forms\DI\FormsExtension
    arachne.propertyaccess: Arachne\PropertyAccess\DI\PropertyAccessExtension
    arachne.twig: Arachne\Twig\DI\TwigExtension( %debugMode% )
    nette.application: Nette\Bridges\ApplicationDI\ApplicationExtension( %debugMode%, null, %tempDir% )
    nette.cache: Nette\Bridges\CacheDI\CacheExtension( %tempDir% )
    nette.http: Nette\Bridges\HttpDI\HttpExtension
    nette.latte: Nette\Bridges\ApplicationDI\LatteExtension( %tempDir%/cache/latte, %debugMode% )
    nette.session: Nette\Bridges\HttpDI\SessionExtension( %debugMode% )
    kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
    kdyby.translation: Kdyby\Translation\DI\TranslationExtension
    kdyby.validator: Kdyby\Validator\DI\ValidatorExtension

kdyby.annotations:
    cache: array
    ignore:
        - inject

kdyby.validator:
    cache: array

services:
    routerFactory: Tests\Functional\Fixtures\RouterFactory
    router: @routerFactory::create()

nette.application:
    catchExceptions: null
    mapping:
        *: Tests\Functional\Fixtures\*Presenter
