extensions:
    arachne.servicecollections: Arachne\ServiceCollections\DI\ServiceCollectionsExtension
    arachne.csrf: Arachne\Csrf\DI\CsrfExtension
    arachne.forms: Arachne\Forms\DI\FormsExtension
    arachne.propertyaccess: Arachne\PropertyAccess\DI\PropertyAccessExtension
    arachne.twig: Arachne\Twig\DI\TwigExtension(%tempDir%/cache/twig, %debugMode%)
    nette.http: Nette\Bridges\HttpDI\HttpExtension
    nette.session: Nette\Bridges\HttpDI\SessionExtension(%debugMode%)
    kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
    kdyby.translation: Kdyby\Translation\DI\TranslationExtension
    kdyby.validator: Kdyby\Validator\DI\ValidatorExtension

kdyby.annotations:
    cache: array

kdyby.validator:
    cache: array
